@include xl {
  .prayer-card h1 {
    font-size: 53px !important;
  }
}
@include md-p {
  .prayer-card h1 {
    font-size: 38px !important;
  }
  .prayer-card__today {
    font-size: 20px !important;
    width: 30%;
  }
  .prayer-card .prayer-card-salats__salat__desc {
    font-size: 18px !important;
  }
  .search .search-input ::placeholder {
    font-size: 0.6rem !important;
  }
}

@include sm {
  body {
    flex-direction: column-reverse;
  }
  .header {
    display: none !important;
  }
  .prayer-card {
    width: 98% !important;
    padding: 55px 32px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    flex-shrink: 0;
    border-radius: 40px;
    background: white;
    box-shadow: rgba(224, 222, 198, 0.4) 0px 4px 12px 2px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: -webkit-fill-available !important;
  }
  .container {
    width: 100% !important;
    margin: 0 !important;
  }
  .prayer-card .prayer-card-salats {
    flex-direction: row !important;
    gap: 40px !important;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 12px 2px rgba(224, 222, 198, 0.4);
  }
  .prayer-card .prayer-card-salats__salat__desc {
    font-size: 14px !important;
    text-align: center !important;
  }
  .prayer-card .prayer-card-salats__salat {
    justify-content: space-between;
    align-items: center !important;
    border-bottom: none !important;
    flex-direction: column;
    margin-left: 2%;
  }
  .prayer-card__svg {
    display: none !important;
  }
  .newDiv {
    display: flex;
    gap: 17rem;
  }
}

@include xs {
  .prayer-card .prayer-card-salats {
    gap: 0px !important;
  }
  .newDiv {
    gap: 7rem;
  }
  .prayer-card__today {
    width: 65%;
  }
}
@include xxs {
  .newDiv {
    gap: 1rem;
  }
  .prayer-card__today {
    width: 70%;
  }
  .prayer-card__next__nextPrayerTime {
    font-size: 18px !important;
  }
  .prayer-card__next__now {
    font-size: 18px !important;
  }
  .prayer-card .prayer-card-salats__salat__desc {
    font-size: 10px !important;
    text-align: center !important;
  }
}
@include xxxs {
}
