

.btn {
  border-radius: $border-radius-btn;
  padding: $base-padding $base-padding * 2;
  background-color: $secondary;
  border: none;
  display: flex;
  width: 257px;
  height: 60px;
  padding: 9px 22px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.25px;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: $tertiary;
    transition: $hover-transition;
  }
}
.title {
  color: $primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.25px;
}
